ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: darkgoldenrod;
}
body{
    background-color:khaki;
}
footer{
    display:flex;
    bottom:0;
    color:brown
}
h1{
    color:darkred
}
button{
    background-color: yellow;
}

